@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    /* display: none; Oculta a barra de rolagem */
    
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 4px; /* Largura da barra de rolagem */
    
}

/* Estilizando o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: cyan; /* Cor de fundo do polegar */
    border-radius: 4px; /* Raio da borda do polegar */
}

/* Estilizando a pista da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: rgba(205, 196, 196, 0.1); /* Cor de fundo da pista */
    border-radius: 4px;
}
