.skillsAnimationContainer { 
    overflow: hidden; 
    -webkit-mask: 
        linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
    mask: 
        linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

