.skillsAnimationContainer { 
    overflow: hidden; 
    -webkit-mask: 
        linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: 
        linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.skillsAnimationContainer:hover .skillsAnimation {
    animation-play-state: paused;
}
